@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  min-height: 100vh;
}

html, body {
  @apply bg-white dark:bg-blue-900/10;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.react-datepicker__day {
  color: rgb(179, 142, 142);
  font-weight: 500;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #13572c !important; /* Tailwind green-500 */
  color: rgb(255, 255, 255) !important;
  border-radius: 50% !important;
}

.react-datepicker__header {
  background-color: red;
  border-bottom: none;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: rgb(177, 83, 83);
  font-weight: bold;
}



.loader-bar {
  width: 100%;
  height: 4px;
  background: #f8f8f8;
  overflow: hidden;
  position: relative;
}

.loader-bar .bar {
  height: 100%;
  width: 100%;
  background: #25e665;
  position: absolute;
  animation: loading 1.5s infinite linear;
}

@keyframes loading {
  0% { transform: translateX(-100%) }
  100% { transform: translateX(100%) }
}
